node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml
.pnpm-store
.turbo
.next
dist
build
.git
.gitignore
.DS_Store
*.log
frontend/.next
backend/dist
backend/node_modules
frontend/node_modules
shared/node_modules
